<ion-header>
  <ion-navbar>
    <ion-title>
      Add new place
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <form [formGroup]="form" id="addPOI-form5">
    <ion-item id="addPOI-input6">
      <ion-label>
        Title
      </ion-label>
      <ion-input type="text" formControlName='title' placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Type
      </ion-label>
      <ion-select formControlName="poiType">
        <ion-option *ngFor="let t of poiTypes">{{t}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="addPOI-textarea1">
      <ion-label>
        Description
      </ion-label>
      <ion-textarea formControlName='desc' placeholder=""></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>
        Current Position
      </ion-label>
      <ion-toggle formControlName="useCurrentLocation"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="!searching">
        Place
      </ion-label>
      <ion-label *ngIf="searching">
        Getting your location ....
      </ion-label>
      <ion-input *ngIf="!searching" [disabled]="useCurrentLocation.value" type="text" formControlName="locationText" placeholder="Enter address"></ion-input>
    </ion-item>
    <ion-list>

      <button style="color:blue" (click)="onPlaceClick(item)" *ngFor="let item of autoCompleteItems" ion-item detail-none>
        {{item.title}}
      </button>
    </ion-list>
  </form>


</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button [disabled]="form.invalid || !selectedPlace" id="addPOI-button4" ion-button color="positive" block on-click="goToStoryDeail()">
      Add
    </button>
  </ion-toolbar>
</ion-footer>