<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="currentPoi">
      {{currentPoi.title}}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="listType === 'gallery' && isEditMode && !selectedItems.length" ion-button icon-only (click)="onCancelClick()">
        Cancel
      </button>
      <button *ngIf="listType === 'gallery' && isEditMode && selectedItems.length" ion-button icon-only (click)="onDeleteClick()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page" id="page6">
  <ion-segment [(ngModel)]="listType">
    <ion-segment-button value='desc'>
      Description
    </ion-segment-button>
    <ion-segment-button value='gallery'>
      Gallery
    </ion-segment-button>
    <ion-segment-button (click)="loadMap()" value='location'>
      Location
    </ion-segment-button>
  </ion-segment>
  <div class="spacer" style="height:20px;" id="stories-spacer1"></div>
  <div [ngSwitch]="listType">
    <div *ngSwitchCase="'desc'">
      <div *ngIf="currentPoi">
        {{currentPoi.description}}
      </div>



    </div>
    <div *ngSwitchCase="'gallery'" class="images">
      <div *ngIf="currentPoi">
        <!-- <ion-grid>
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of currentPoi.images">
              <div class="image-container" [style.background-image]="image"></div>
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <div class="one-image" *ngFor="let image of currentPoi.images">

          <ion-card>

            <img src="{{image}}" ion-long-press [interval]="400" (onPressStart)="pressed()" />
            <ion-checkbox [hidden]="!isEditMode" (ionChange)="clickedImage(image)" class="card-subtitle"></ion-checkbox>

          </ion-card>

          <!-- <img src="{{image}}" (tap)="clickedImage(image)" [ngClass]="isInArray(image) ? 'selected' : 'not-selected'" /> -->
        </div>

      </div>
    </div>

  </div>

  <div [hidden]="listType !== 'location'" id="map_canvas"></div>

  <div class="spacer" style="height:20px;" id="stories-spacer2"></div>





</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button *ngIf="listType === 'desc'" id="addPOI-button4" ion-button color="positive" block>
      Ok
    </button>
    <button *ngIf="listType === 'gallery'" (click)="presentConfirm()" id="addPOI-button5" ion-button color="positive"
      block>
      Take Photo
    </button>
    <button *ngIf="listType === 'location'" (click)="navigate()" id="addPOI-button6" ion-button color="positive" block>
      Navigate
    </button>
  </ion-toolbar>
</ion-footer>