page-poi-detail {
  #map_canvas {
    height: 90% !important;
    width: 100% !important;
  }

  .image-container {
    background-size: cover;
    min-height: 200px;
  }
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
  @media (min-width: 620px) {
    .images {
      column-count: 3;
    }
  }
  @media (min-width: 820px) {
    .images {
      column-count: 4;
    }
  }

  .one-image {
    margin: 2px;
  }
  .selected {
    opacity: 0.4 !important;
    border: 1px solid silver;
  }
  .ios,
  .md {
    page-poi-detail {
      .scroll {
        height: 100%;
      }

      #map {
        width: 100%;
        height: 100%;
      }
    }
  }

  ion-card {
    position: relative;
    text-align: center;

    border: none !important;
  }
  .card,
  .card-md,
  .card-ios {
    webkit-box-shadow: none;
    box-shadow: none;
    //  margin: 2px;
    // width: 100%;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 100%;
    color: #fff;
  }
}
