<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Poi Detail
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <ion-segment [(ngModel)]="listType">
    <ion-segment-button value='desc'>
      Description
    </ion-segment-button>
    <ion-segment-button value='gallery'>
      Gallery
    </ion-segment-button>
    <ion-segment-button value='location'>
      Location
    </ion-segment-button>
  </ion-segment>
  <div class="spacer" style="height:20px;" id="stories-spacer1"></div>
  <div [ngSwitch]="listType">
    <div *ngSwitchCase="'desc'">
      <div *ngIf="currentPoi">
        {{currentPoi.description}}
      </div>



    </div>
    <div *ngSwitchCase="'gallery'" class="images">
      <div *ngIf="currentPoi">
        <div class="one-image" *ngFor="let image of currentPoi.images">
          <img src="{{image}}" />
        </div>
      </div>
    </div>

  </div>

  <div [hidden]="listType !== 'location'" id="map_canvas"></div>

  <div class="spacer" style="height:20px;" id="stories-spacer2"></div>





</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button *ngIf="listType === 'desc'" id="addPOI-button4" ion-button color="positive" block>
      Ok
    </button>
    <button *ngIf="listType === 'gallery'" (click)="presentConfirm()" id="addPOI-button5" ion-button color="positive" block>
      Take Photo
    </button>
    <button *ngIf="listType === 'location'" id="addPOI-button6" ion-button color="positive" block>
      Navigate
    </button>
  </ion-toolbar>
</ion-footer>